In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.1.1 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [30]:
import pandas as pd

# Load the Excel file you already created
df = pd.read_excel("merged_tweets_new.xlsx")

# Preview
df.head()

,Timestamp,Tweet,Twitter_acc
0,"Oct 28, 2024 · 4:02 PM UTC",Honored to celebrate @USEnergyAssn‘s 100th Ann...,DanielYergin_tweets
1,"Oct 14, 2024 · 8:30 PM UTC",The #oil market is fixated on two places at on...,DanielYergin_tweets
2,"Sep 27, 2024 · 10:21 PM UTC",The global #oil market may be keeping a keen e...,DanielYergin_tweets
3,"Sep 9, 2024 · 1:37 PM UTC",The rise of the US as the world’s #1 energy pr...,DanielYergin_tweets
4,"Aug 6, 2024 · 2:42 PM UTC",That oil markets have not preemptively priced ...,DanielYergin_tweets

In [31]:
print(df.columns.tolist())

['Timestamp', 'Tweet', 'Twitter_acc']

In [32]:
import pandas as pd

# Load the Excel file you already created
tweet_df = pd.read_excel("merged_tweets_new.xlsx")

# Preview
tweet_df.head()

,Timestamp,Tweet,Twitter_acc
0,"Oct 28, 2024 · 4:02 PM UTC",Honored to celebrate @USEnergyAssn‘s 100th Ann...,DanielYergin_tweets
1,"Oct 14, 2024 · 8:30 PM UTC",The #oil market is fixated on two places at on...,DanielYergin_tweets
2,"Sep 27, 2024 · 10:21 PM UTC",The global #oil market may be keeping a keen e...,DanielYergin_tweets
3,"Sep 9, 2024 · 1:37 PM UTC",The rise of the US as the world’s #1 energy pr...,DanielYergin_tweets
4,"Aug 6, 2024 · 2:42 PM UTC",That oil markets have not preemptively priced ...,DanielYergin_tweets

In [33]:
from datetime import datetime

tweet_df["Timestamp"] = df["Timestamp"].apply(
    #lambda x: datetime.strptime(x, "%d.%m.%y %H:%M:%S").isoformat()
    lambda x: datetime.strptime(x, "%b %d, %Y · %I:%M %p UTC").isoformat()
    if isinstance(x, str) else x
)
tweet_df.to_excel("merged_tweets_new.xlsx", index=False)
tweet_df.head()

,Timestamp,Tweet,Twitter_acc
0,2024-10-28T16:02:00,Honored to celebrate @USEnergyAssn‘s 100th Ann...,DanielYergin_tweets
1,2024-10-14T20:30:00,The #oil market is fixated on two places at on...,DanielYergin_tweets
2,2024-09-27T22:21:00,The global #oil market may be keeping a keen e...,DanielYergin_tweets
3,2024-09-09T13:37:00,The rise of the US as the world’s #1 energy pr...,DanielYergin_tweets
4,2024-08-06T14:42:00,That oil markets have not preemptively priced ...,DanielYergin_tweets

In [12]:
import pandas as pd
from datetime import datetime

# Load tweets
tweets_df = pd.read_excel("merged_tweets.xlsx")

# Step 1: Convert the 'Timestamp' column to datetime
tweets_df["Timestamp"] = tweets_df["Timestamp"].apply(
    lambda x: datetime.strptime(x, "%b %d, %Y · %I:%M %p UTC").isoformat() if isinstance(x, str) else x
)

# Step 2: Convert to pandas datetime object
tweets_df["Timestamp"] = pd.to_datetime(tweets_df["Timestamp"])

# Step 3: Keep only the clean final columns
tweets_df = tweets_df[["Timestamp", "Tweet", "Twitter_acc"]]

# Optional: Save cleaned result
tweets_df.to_excel("cleaned_tweets.xlsx", index=False)

# Preview result
tweets_df.head()

ValueError: time data '2024-10-28T16:02:00' does not match format '%b %d, %Y · %I:%M %p UTC'

check the next code with the dataset so that it matches

In [23]:
from datetime import datetime

df["Timestamp"] = df["Timestamp"].apply(
    lambda x: datetime.strptime(x, "%b %d, %Y · %I:%M %p UTC").isoformat()
    if isinstance(x, str) and "UTC" in x else x
)
df.to_excel("CL_Datasim.xlsx", index=False)
df.head()

,Timestamp,Tweet,Twitter_acc
0,2024-10-28T16:02:00,Honored to celebrate @USEnergyAssn‘s 100th Ann...,DanielYergin_tweets
1,2024-10-14T20:30:00,The #oil market is fixated on two places at on...,DanielYergin_tweets
2,2024-09-27T22:21:00,The global #oil market may be keeping a keen e...,DanielYergin_tweets
3,2024-09-09T13:37:00,The rise of the US as the world’s #1 energy pr...,DanielYergin_tweets
4,2024-08-06T14:42:00,That oil markets have not preemptively priced ...,DanielYergin_tweets

In [19]:
print("CL_Datasim columns:\n", df.columns)
print("merged_tweets columns:\n", tweet_df.columns)

CL_Datasim columns:
 Index(['Security', 'Dates', 'Trade_Open', 'Trade_Close', 'Trade_High',
       'Trade_Low', 'Trade_Value', 'Trade_Volume', 'Trade_Number Ticks',
       'Bid_Open', 'Bid_Close', 'Bid_High', 'Bid_Low', 'Bid_Value',
       'Bid_Volume', 'Bid_Number Ticks', 'Ask_Open', 'Ask_Close', 'Ask_High',
       'Ask_Low', 'Ask_Value', 'Ask_Volume', 'Ask_Number Ticks', 'Spread_Open',
       'Spread_Close', 'Spread_High', 'Spread_Low', 'Volume_Delta', 'Mid_Open',
       'Mid_Close', 'Mid_High', 'Mid_Low', 'VWAP', 'Avg_Size'],
      dtype='object')
merged_tweets columns:
 Index(['Timestamp', 'Tweet', 'Twitter_acc', 0, 1, 'Dates'], dtype='object')